.my_nav_bar{
    position: sticky;
    top: 0;
    z-index: 999999;
}
#image{
    width: 100%;
}
.travel_maindiv{
    border: 1px solid lightgray;
}
.travel_maindiv img{
    width: 100%;
}
.travel_maindiv h5,p{
    margin: 20px;
}